In [1]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
browser=webdriver.Chrome("chromedriver.exe")
browser.get("https://www.linkedin.com")

In [3]:
username=browser.find_element_by_id("session_key")
username.send_keys("shabbirg89@gmail.com")
password=browser.find_element_by_id("session_password")
password.send_keys("yourpass")

In [4]:
login_button=browser.find_element_by_class_name("sign-in-form__submit-button")
login_button.click()

In [5]:
browser.get("https://www.linkedin.com/jobs/")

In [8]:
job=browser.find_elements_by_class_name("job-card-square__title")
c=[]
for i in job:
    #print(i.text)
    c.append(i.text)
print(c)
print()
print(len(c))

['Job Title\nCompliance Data Analyst / Associate - CCB Home Lending Compliance - Corporate Centers in India', 'Job Title\nSoftware Development Engineer II', 'Job Title\nApplication Developer: Microsoft .NET', 'Job Title\nSpring Boot-Developer, Software Engineer/Programmer', 'Job Title\nStaff Specialist Product Developer', 'Job Title\nStaff Specialist Product Developer', 'Job Title\nStaff Product Developer', 'Job Title\nSoftware Development Engineer - Data Engineering', 'Job Title\nDecision Scientist I', 'Job Title\nData Scientist - Central Forecasting Analytics', 'Job Title\nDeveloper Advocate, Google Cloud', 'Job Title\nStaff Product Developer', 'Job Title\nStaff Specialist Product Developer', 'Job Title\nProduct Developer - .Net', 'Job Title\nAssociate Product Developer', 'Job Title\nFullstack Python Developer', 'Job Title\nSoftware Developer I – Remote – India – Bangalore', 'Job Title\nPython automation developer', 'Job Title\nStaff Specialist Product Developer', 'Job Title\nData Scientist', 'Job Title\nProduct Manager 2 - Chatbots', 'Job Title\nDeveloper', 'Job Title\nData Scientist - Deputy Manager']

23

In [9]:
job_title=[]
for i in range(len(c)):
    job_title.append(c[i].strip("Job Title\n"))
    job_title

print(job_title)

['Compliance Data Analyst / Associate - CCB Home Lending Compliance - Corporate Centers in India', 'Software Development Engineer II', 'Application Developer: Microsoft .NE', 'Spring Boot-Developer, Software Engineer/Programmer', 'Staff Specialist Product Developer', 'Staff Specialist Product Developer', 'Staff Product Developer', 'Software Development Engineer - Data Engineering', 'Decision Scientist I', 'Data Scientist - Central Forecasting Analytics', 'Developer Advocate, Google Cloud', 'Staff Product Developer', 'Staff Specialist Product Developer', 'Product Developer - .N', 'Associate Product Developer', 'Fullstack Python Developer', 'Software Developer I – Remote – India – Bangalor', 'Python automation developer', 'Staff Specialist Product Developer', 'Data Scientis', 'Product Manager 2 - Chatbots', 'Developer', 'Data Scientist - Deputy Manager']

In [11]:
job2=browser.find_elements_by_class_name("job-card-container__company-name")
comp_name=[]
for i in job2:
    #print(i.text)
    comp_name.append(i.text)
print(comp_name)
print()
print(len(comp_name))

['J.P. Morgan', 'Amazon', 'IBM', 'BMC Software', 'BMC Software', 'BMC Software', 'Hotstar', 'Flipkart', 'Cisco', 'Google', 'BMC Software', 'BMC Software', 'Epicor Software', 'BMC Software', 'LTI - Larsen & Toubro Infotech', 'Syniti', 'Altran', 'BMC Software', 'Gojek', 'Barclays', 'Vodafone']

21

In [12]:
job3 = browser.find_elements_by_class_name("job-card-container__metadata-item")
loc_name=[]
for i in job3:
    #print(i.text)
    loc_name.append(i.text)
print(loc_name)
print()
print(len(loc_name))

['Mumbai, Maharashtra, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Pune, Maharashtra, India', 'Maharashtra, India', 'Maharashtra, India', 'Maharashtra, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Mumbai, Maharashtra, India', 'Maharashtra, India', 'Maharashtra, India', 'Bengaluru, Karnataka, India', 'Maharashtra, India', 'Pune, Maharashtra, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Ahmadnagar, Maharashtra, India', 'Mumbai, Maharashtra, India', 'Bengaluru, Karnataka, India', 'Pune, Maharashtra, India', 'Pune, Maharashtra, India']

23

In [15]:
comp_name.append(" ")
comp_name.append(" ")

In [16]:
len(comp_name)

23

In [17]:
col=["Company Name","Job Title","Location"]
df=pd.DataFrame({"Company Name":comp_name,"Job Title":job_title,"Location":loc_name})

In [18]:
df.head()

,Company Name,Job Title,Location
0,J.P. Morgan,Compliance Data Analyst / Associate - CCB Home...,"Mumbai, Maharashtra, India"
1,Amazon,Software Development Engineer II,"Bengaluru, Karnataka, India"
2,IBM,Application Developer: Microsoft .NE,"Bengaluru, Karnataka, India"
3,BMC Software,"Spring Boot-Developer, Software Engineer/Progr...","Pune, Maharashtra, India"
4,BMC Software,Staff Specialist Product Developer,"Maharashtra, India"

In [19]:
df.to_csv("linkedin_scrapejobs.csv")